<html>
  <head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });

        function drawChart() {

            $("#submitButton").attr("disabled", true);
            $('#message').hide();
            $('#loading').show();
            $('#chart_div').hide();

            //E:/Users/Hans/Desktop/TestDirectory
            var directory = $('#directoryIn')[0].value;

            $.ajax({
                url: "http://localhost:9000//api/WordCountList?directory=" + directory,
                headers: {
                    'Access-Control-Allow-Origin': '*'
                },
                success: function (result) {

                    var resultAsArrays = [['Items']];
                    for (var i = 0; i < result.HistogramData.length; i++) {
                        var arrayToAdd = [];
                        arrayToAdd.push(result.HistogramData[i]);
                        resultAsArrays.push(arrayToAdd);
                    }

                    var data = google.visualization.arrayToDataTable(resultAsArrays);

                    var options = {
                        title: 'Word Counts of Files',
                        legend: { position: 'none' },
                        colors: ['green'],
                        histogram: { hideBucketItems: true },
                        hAxis: {
                            title: "Word Count"
                        },
                        vAxis: {
                            title: "# of Files"
                        },
                        chartArea: {
                            width: '900px',
                            height: '500px'
                        }
                    };

                    $('#chart_div').show();

                    var chart = new google.visualization.Histogram(document.getElementById('chart_div'));
                    chart.draw(data, options);

                    var warnings = '';

                    if (result.Warnings.length > 0) {
                        for (var i = 0; i < result.Warnings.length; i++) {
                            warnings = warnings + '<br />' + result.Warnings[i];
                        }
                    }

                    $('#loading').hide();
                    $('#message').html("Showing word count histogram for [" + directory + "]" + warnings);
                    $('#message').show();
                    $("#submitButton").removeAttr("disabled");
                },
                error: function (data) {
                    $('#message').text("Error loading word count histogram for [" + directory + "]: " + data.responseJSON.Message);
                    $('#message').show();
                    $('#loading').hide();
                    $("#submitButton").removeAttr("disabled");
                }
            });
        }
    </script>
  </head>
  <body>
	<div>
		Directory To Scan For Txt File Word Count Histogram: <input type="text" id="directoryIn" style="width:400px"/>
		<button type="button" id="submitButton" onclick="drawChart()">Build Histogram!</button>
	</div>
	<div>
		<span style="display:none" id="message"></span>
	</div>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
    <div id="loading" style="display: none">Loading...</div>
  </body>
</html>